<form
    action="{% url 'address-submit' %}"
    method="post"
    id="address-form"
    novalidate
>
    {% csrf_token %}

    <div>
        <label for="address-address">Address</label>
        <input
            type="text"
            name="address"
            id="address-address"
            value="{{ form.address.value }}"
            data-turbo-permanent
        />
        {{ form.errors.address }}
    </div>

    <div>
        <label for="address-apt">Apt</label>
        <input
            type="text"
            name="apt"
            id="address-apt"
            value="{{ form.apt.value }}"
            data-turbo-permanent
        />
        {{ form.errors.apt }}
    </div>

    <div>
        <label for="address-city">City</label>
        <input
            type="text"
            name="city"
            id="address-city"
            value="{{ form.city.value }}"
            data-turbo-permanent
        />
        {{ form.errors.city }}
    </div>

    <div>
        <label for="address-state">State</label>
        <input
            type="text"
            name="state"
            id="address-state"
            value="{{ form.state.value }}"
            data-turbo-permanent
        />
        {{ form.errors.state }}
    </div>

    <div>
        <label for="address-zip">Zip</label>
        <input
            type="text"
            name="zip"
            id="address-zip"
            value="{{ form.zip.value }}"
            data-turbo-permanent
        />
        {{ form.errors.zip }}
    </div>

    <button type="submit">Next</button>
</form>
